.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.Mui-focused.Mui-required.Mui-required{
  color: red;
}

.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-218.MuiCheckbox-root.MuiCheckbox-colorPrimary.PrivateSwitchBase-checked-219.Mui-checked.MuiIconButton-colorPrimary {
  color: red;
}